card {
  grid-column: 1/ 2;
  display: grid;
  overflow: hidden;
  width: 50rem;
  height: 40rem;
  border: solid 2px #868686;
  border-radius: 1.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgb(143, 143, 143);
  margin-top: 3rem;
  background-color: rgb(222, 222, 222);
}

.header {
  padding: 2rem;
  border-bottom: dashed 0.2rem #868686;
  height: fit-content;
}

.actions {
  display: flex;
  gap: 2rem;
  align-self: flex-start;
  justify-self: center;
}

.img {
  border-radius: 1.5rem;
  /* border: solid 2px #63d3ffd2; */
  box-shadow: 1rem 1rem 0.5rem rgb(143, 143, 143);
  width: 35rem;
  height: 20rem;
  justify-self: center;
}
